<mat-card
  *ngIf="content &&(!!content.contentText ||  content.imgLinks && content.imgLinks.length>0)"
  class="content"
  [class.content-margin]="!nonStaticContent"
  [class.web-content]="!(abstractService.isHandset$|async) && !nonStaticContent">
  <div fxLayout="column">

    <div class="spinner-container">
      <mat-spinner *ngIf="!content && !contentLoaded" [diameter]="30" class="loading-spinner"></mat-spinner>
      <app-slider
        class="slideshow"
        *ngIf="content && content.imgLinks && content.imgLinks.length>0"
        [sliderArray]="content.imgLinks.length>0 ? getSlideImage(content.imgLinks) : []"
        [objectFit]="'contain'"
        [imageBorderRadius]="'4px 4px 0 0'"
      >
      </app-slider>
    </div>

    <div class="static-content" *ngIf="content && contentLoaded && content.contentText">
      <div [innerHTML]="content.contentText"></div>
    </div>
  </div>

  <mat-card-actions
    align="end"
    class="fb-icon-container"
    *ngIf="contentLoaded && home && !nonStaticContent"
  >
    <app-fb-icon
      iconPath="assets/img/Y_icon.svg"
      link="https://www.youtube.com/watch?v=Y3IlD4M2ac4"
    ></app-fb-icon>
    <app-fb-icon
      iconPath="assets/img/F_icon.svg"
      link="https://de-de.facebook.com/pages/category/Sports-Club/SG-Hainhausen-Handball-832106663555487/"
    ></app-fb-icon>
    <app-fb-icon
      iconPath="assets/img/I_icon.svg"
      link="https://www.instagram.com/sghainhausen_handball/"
    ></app-fb-icon>
  </mat-card-actions>
</mat-card>

<app-add-btn [matMenu]="newsTypeMenu" [moreIcon]="true"
             *ngIf="adminRight$|async"></app-add-btn>
<mat-menu #newsTypeMenu="matMenu">
  <button mat-menu-item
          (click)="openEditPage()">
    Seite Bearbeiten
  </button>
</mat-menu>




