<app-toolbar
  (sideNavButtonListener)="toogleSideNav()"
></app-toolbar>

<mat-sidenav-container class="sidenav-container">


  <mat-sidenav #drawer class="sidenav"
               [attr.role]="(abstractService.isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(abstractService.isHandset$ | async) ? 'over' : 'side'"
               [opened]="false"
  >

    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="!teamsNavItemsVisible && !generalInformationNavItemsVisible">
      <app-sidenav-list-item
        headerTitle="{{translationService.get(navItemsHeaderClubTC)}}"
        [navItems]="navItemsClub"
        (clickNavigationListener)="closeSideNavOnHandheldMode()"
      ></app-sidenav-list-item>


      <app-sidenav-list-item
        [navItems]="navItemTeam"
        (clickNavigationListener)="toogleTeamsSideNav()"
      ></app-sidenav-list-item>

      <mat-divider></mat-divider>

      <app-sidenav-list-item
        headerTitle="{{translationService.get(navItemsHeaderInfoTC)}}"
        [navItems]="navItemGeneralInformation"
        (clickNavigationListener)="toogleGenInfoSideNav()"
      ></app-sidenav-list-item>

      <app-sidenav-list-item
        [navItems]="navItemsInfo"
        (clickNavigationListener)="closeSideNavOnHandheldMode()"
      ></app-sidenav-list-item>


      <mat-divider></mat-divider>

      <app-sidenav-list-item
        headerTitle="{{translationService.get(navItemsHeaderOtherTC)}}"
        [navItems]="navItemsOther"
        (clickNavigationListener)="closeSideNavOnHandheldMode()"
      ></app-sidenav-list-item>

    </mat-nav-list>

    <app-sidenav-sub-menu *ngIf="teamsNavItemsVisible"
                          [header]="translationService.get(navItemTeam[0].routerName)"
                          (closeEventEmitter)="toogleTeamsSideNav()"
                          [navItems]="teamsNavItems"
                          (navigateEventEmitter)="closeSideNavOnHandheldMode()"
    ></app-sidenav-sub-menu>

    <app-sidenav-sub-menu *ngIf="generalInformationNavItemsVisible"
                          [header]="translationService.get(navItemGeneralInformation[0].routerName)"
                          (closeEventEmitter)="toogleGenInfoSideNav()"
                          [navItems]="generalInormationNavItems"
                          (navigateEventEmitter)="closeSideNavOnHandheldMode()"
    ></app-sidenav-sub-menu>

  </mat-sidenav>


  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
