
<app-toolbar
  (sideNavButtonListener)="drawer.toggle()"
></app-toolbar>

<mat-sidenav-container class="sidenav-container">


  <mat-sidenav #drawer class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
  >

    <mat-divider></mat-divider>
    <mat-nav-list>
      <app-sidenav-list-item
      headerTitle="{{translationService.get(navItemsHeaderClubTC)}}"
      [navItems]="navItemsClub"
      (clickNavigationListener)="closeSideNavOnHandheldMode(drawer)"
      ></app-sidenav-list-item>

      <mat-divider></mat-divider>

      <app-sidenav-list-item
        headerTitle="{{translationService.get(navItemsHeaderInfoTC)}}"
        [navItems]="navItemsInfo"
        (clickNavigationListener)="closeSideNavOnHandheldMode(drawer)"
      ></app-sidenav-list-item>


      <mat-divider></mat-divider>

      <app-sidenav-list-item
        headerTitle="{{translationService.get(navItemsHeaderOtherTC)}}"
        [navItems]="navItemsOther"
        (clickNavigationListener)="closeSideNavOnHandheldMode(drawer)"
      ></app-sidenav-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
