.sidenav-container {
  height: 100%;
}

.sidenav, .logo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo{
  margin: auto;
}

.logo:hover {
  cursor: pointer;
}

.logo-toolbar {
  padding: 0;
  margin: auto;
  height: 88px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-list-item-background{
  background-color: lightgray;
}



