<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
  >

    <mat-toolbar class="logo-toolbar">
      <img src="assets/img/SghLogoTransparent.png" class="logo" (click)="goToHome()">
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <h1 mat-subheader>{{translationService.get(navItemsHeaderClubTC)}}</h1>
      <mat-list-item *ngFor="let navItem of navItemsClub"
                     routerLink="{{ navItem.routerLink}}"
                     (click)="closeSideNavOnHandheldMode(drawer)"
                     [ngClass]="isRouterLinkActive(navItem.routerLink) ? 'mat-list-item-background' : ''"
      >
        <mat-icon mat-list-icon *ngIf="navItem.routerIcon">{{navItem.routerIcon}}</mat-icon>
        <h4 mat-line>{{translationService.get(navItem.routerName)}}</h4>
      </mat-list-item>

      <mat-divider></mat-divider>
      <h1 mat-subheader>{{translationService.get(navItemsHeaderOtherTC)}}</h1>
      <mat-list-item *ngFor="let navItem of navItemsOther"
                     routerLink="{{ navItem.routerLink}}"
                     (click)="closeSideNavOnHandheldMode(drawer)"
                     [ngClass]="isRouterLinkActive(navItem.routerLink) ? 'mat-list-item-background' : ''"
      >
        <mat-icon mat-list-icon *ngIf="navItem.routerIcon">{{navItem.routerIcon}}</mat-icon>
        <h4 mat-line>{{translationService.get(navItem.routerName)}}</h4>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar
      [sideNavButtonIcon]="drawer.opened ? 'close' : 'menu'"
      (sideNavButtonListener)="drawer.toggle()"
    ></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
