<h1 mat-subheader *ngIf="headerTitle">{{headerTitle}}</h1>
<mat-list-item *ngFor="let navItem of navItems"
               [routerLink]="getRouterLink(navItem)"
               (click)="clickNavigationListener.next()"
               [ngClass]="isRouterLinkActive(navItem) ? 'mat-list-item-background' : ''"
>
  <mat-icon mat-list-icon *ngIf="navItem.routerIcon">{{navItem.routerIcon}}</mat-icon>
  <h4
    mat-line>{{translationService.get(navItem.routerName) ? translationService.get(navItem.routerName) : navItem.routerName}}</h4>
  <mat-icon *ngIf="navItem.noRouterLinkAction" class="arrow-btn">
    arrow_right
  </mat-icon>
</mat-list-item>
