<div class="slider-container" (click)="onSlideClickListener.next(sliderArray[sliderService.currentIndex].newsId)">
  <img
    [style.object-fit]="objectFit"
    [style.height]="height"
    [style.width]="width"
    [style.border-radius]="imageBorderRadius"
    [lazyLoad]="sliderArray[sliderService.currentIndex].img"
    defaultImage="assets\img\SghLogo.png"
    alt="{{sliderArray[sliderService.currentIndex].alt}}"
  >
  <div
    class="text-container"
    *ngIf="sliderArray[sliderService.currentIndex].text"
  >
    <p>{{sliderArray[sliderService.currentIndex].alt}}</p>
    <span>{{sliderArray[sliderService.currentIndex].text}}</span>
  </div>
</div>
