<mat-card
  *ngIf="news"
  class="card-detail-container"
  [style.margin]="(abstractService.isHandset$|async) ? '16px':'16px auto'"
>

  <button mat-icon-button color="warn" class="cancel-btn" (click)="closeNews()">
    <mat-icon>clear</mat-icon>
  </button>

  <mat-card-title class="title" *ngIf="news.title">
    {{news.title}}
  </mat-card-title>
  <mat-card-subtitle *ngIf="news.type === reportType">
    <p *ngIf="news.teamAge || news.eventDate">{{getDateWithTeamAgeAsString(news)}}</p>
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="news.type !== reportType">
    <p *ngIf=" news.eventDate">{{getDateString(news)}}</p>
  </mat-card-subtitle>


  <div *ngIf="news.body" [innerHTML]="news.body"></div>

  <div fxLayout="row"
       class="img-container"
       *ngIf="news.imgLinks && news.imgLinks.length>0"
  >
    <div fxFlex="10" class="arrow-container">
      <button mat-icon-button (click)="lastSlide()" *ngIf="news.imgLinks.length>1">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <div fxFlex="80"
         class="slideshow">
      <app-slider
        (click)="openImage(news.imgLinks[sliderService.currentIndex])"
        #slider
        [sliderArray]="sliderService.getSlideArrayByImageLinks(news.imgLinks)"
        [objectFit]="'contain'"
        [imageBorderRadius]="'4px'"
        [autoPlay]="false"
      >
      </app-slider>
    </div>
    <div fxFlex="10" class="arrow-container">
      <button mat-icon-button (click)="nextSlide()" *ngIf="news.imgLinks.length>1">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <div class="index-container"
       *ngIf="news.imgLinks && news.imgLinks.length>0"
  >
    <span>{{getSliderIndex()}}</span>
  </div>
</mat-card>

<button mat-mini-fab class="goto-top-button" *ngIf="scrollToTopVisible" (click)="gotoTop()">
  <mat-icon>arrow_upward</mat-icon>
</button>
