<h3 class="no-news" *ngIf="!(news && news.length>0)">{{translationService.get(noNewsTC)}}</h3>
<ng-container *ngIf="news && news.length>0">


  <ng-container *ngIf="!(isHandset$ | async)">
    <div *ngFor="let newsCard of news" class="web-list">
      <app-news-card [newsCard]="newsCard"
                     (editClickListener)="editClickListener.next(newsCard)"
                     (deleteClickListener)="deleteClickListener.next(newsCard)"
                     (sendClickListener)="sendClickListener.next(newsCard)"
                     (checkClickListener)="checkClickListener.next(newsCard)"
      >
      </app-news-card>
    </div>

  </ng-container>


  <ng-container *ngIf="(isHandset$ | async)">
    <ng-container *ngFor="let newsCard of news">
      <app-news-card [newsCard]="newsCard"
                     (editClickListener)="editClickListener.next(newsCard)"
                     (deleteClickListener)="deleteClickListener.next(newsCard)"
                     (sendClickListener)="sendClickListener.next(newsCard)"
                     (checkClickListener)="checkClickListener.next(newsCard)"
      >
      </app-news-card>
    </ng-container>
  </ng-container>

</ng-container>
