<h3 class="no-news" *ngIf="!(news && news.length>0)">{{translationService.get(noNewsTC)}}</h3>
<ng-container *ngIf="news && news.length>0">
  <div
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-evenly flex-start"
  >
    <ng-container
      *ngFor="let newsCard of news">
    <div
      fxFlex="0 1 calc(33.3% - 16px)"
      fxFlex.lt-md="0 1 calc(50% - 16px)"
      fxFlex.lt-sm="100%"
      *ngIf="isNewsVisibleForUser(user,newsCard)"
    >
      <app-news-card
        [newsCard]="newsCard"
        (editClickListener)="editClickListener.next(newsCard)"
        (deleteClickListener)="deleteClickListener.next(newsCard)"
        (sendClickListener)="sendClickListener.next(newsCard)"
        (checkClickListener)="checkClickListener.next(newsCard)"
        (openDetailClickListener)="openDetailClickListener.next(newsCard)"
      >
      </app-news-card>
    </div>
    </ng-container>
  </div>
</ng-container>
