<mat-card class="dashboard-card">

  <div fxLayout="column">

    <div fxLayout="column"
         fxFlex="90"
         class="card-container"
         (click)="openDetailClickListener.next()"
    >
      <div fxFlex="40">
        <img
          [lazyLoad]="newsCard && newsCard.imgLinks.length>0 ? newsCard.imgLinks[0] :['assets/img/SghLogo.png']"
          defaultImage="assets\img\SghLogo.png"
          class="news-img"
        >
      </div>

      <div fxFlex="50" class="card-content">
        <span class="card-title">{{newsCard.title}}</span>
        <p class="card-sub-title"
           *ngIf="isNewsCardReport() && (newsCard.homeTeam || newsCard.enemyTeam || newsCard.score)">
          {{getTeamsWithScoreAsString(newsCard)}}
        </p>
        <p class="card-sub-title">
          {{getText(newsCard)}}
        </p>

        <span class="card-extra-info">{{newsCard.teamAge ? newsCard.teamAge : 'Veranstaltung'}}</span>
        <span class="card-extra-info">{{getDateAsString(newsCard)}}</span>
      </div>
    </div>

    <div fxLayout="row wrap" fxFlex="10" class="card-sub-actions">

      <div fxFlex="50" class="card-export">
        <mat-checkbox (change)="exportChangeListener.next($event.checked)"
                      class="export-checkbox"
                      *ngIf="(exportRight$|async)&&exportVisible">
          {{translationService.get(exportCheckBoxTC)}}
        </mat-checkbox>
      </div>

      <div fxFlex="50" fxLayoutAlign="end center" class="card-more-btn-container">
        <mat-icon class="news-state" *ngIf="newsStateVisible">
          {{getNewsStateIcon(newsCard)}}
        </mat-icon>
        <app-news-more-menu
          *ngIf="editMenuVisible"
          class="more-button"
          [sendInvisible]="newsCard.send"
          [checkedInvisible]="newsCard.checked"
          (editClickListener)="editClickListener.next()"
          (deleteClickListener)="deleteClickListener.next()"
          (sendClickListener)="sendClickListener.next()"
          (checkClickListener)="checkClickListener.next()"
        ></app-news-more-menu>
      </div>

    </div>
  </div>
</mat-card>
