<mat-card *ngIf="editImages">
  <mat-card-content>
    <app-image-upload-manager
      [urls]="content && content.imgLinks && content.imgLinks.length>0 ? content.imgLinks : []"
      (itemDeleteEventListener)="deleteImage($event)"
      (afterItemMovedEventListener)="changeContent()"
      [uploadProgress]="uploadProgress"
      (uploadEventListener)="upload($event)"
    ></app-image-upload-manager>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="editImages = !editImages">Zurück</button>
  </mat-card-actions>
</mat-card>

<mat-card class="content" [class.web-content]="!(isHandset$|async)">
  <div fxLayout="column">


    <div class="spinner-container">
      <mat-spinner *ngIf="!content && !contentLoaded" [diameter]="30" class="loading-spinner"></mat-spinner>
      <app-slider
        class="slideshow"
        *ngIf="content && content.imgLinks && content.imgLinks.length>0 && !editImages"
        [sliderArray]="content.imgLinks.length>0 ? getSlideImage(content.imgLinks) : []"
        [objectFit]="'contain'"
        [imageBorderRadius]="'4px 4px 0 0'"
      >
      </app-slider>
    </div>


    <div class="static-content">
      <app-rich-text-editor
        *ngIf="contentLoaded"
        [htmlContent]="content"
        [editMode]="editContent"
        (saveListener)="saveContent($event)"
      >
      </app-rich-text-editor>
    </div>
  </div>
</mat-card>

<app-add-btn [matMenu]="newsTypeMenu" [moreIcon]="true"
             *ngIf="adminRight$|async"></app-add-btn>
<mat-menu #newsTypeMenu="matMenu">
  <button mat-menu-item
          (click)="editImages = !editImages">
    Bilder ändern
  </button>
  <button mat-menu-item
          (click)="editContent = !editContent">
    Seite Bearbeiten
  </button>
</mat-menu>




