<mat-spinner [diameter]="30" *ngIf="!eventNews" class="loading-spinner"></mat-spinner>

<div class="container" *ngIf="eventNews">
  <app-news-card-list
    [news]="eventNews"
    (editClickListener)="newsService.openNewsEdit($event.id)"
    (deleteClickListener)="openDeleteNewsDialog($event)"
    (sendClickListener)="openSendNewsDialog($event)"
    (checkClickListener)="openCheckNewsDialog($event)"
  ></app-news-card-list>
</div>

<app-add-btn [matMenu]="newsTypeMenu" *ngIf="adminService.isUserEventAdmin()"></app-add-btn>
<mat-menu #newsTypeMenu="matMenu">
  <button mat-menu-item
          (click)="dataService.addNewNews(newsTypeEvent)"> {{translationService.get(newsTypeEventTC)}}</button>
</mat-menu>
