.teams-clear-btn{
  position: absolute;
  top: 4px;
  right: 4px;
}

.teams-header{
  margin: 2px 32px !important;
}

.header-container{
  position: relative;
  padding: 8px;
}

.header-icon{
  position: absolute;
}
