<h1 mat-dialog-title>{{translationService.get(editTrainingHeader)}}</h1>
<div mat-dialog-content>

  <mat-form-field [ngClass]="(abstractService.isHandset$|async) ? 'full-width' : 'fifty-percent-width'" appearance="outline"
                  class="margin-right">
    <mat-label>{{translationService.get(teamNameTC)}}</mat-label>
    <mat-select [formControl]="teamIdFormControl">
      <mat-option *ngFor="let team of teams"
                  [value]="team.id">
        <span>{{teamService.getTeamAsString(team) }}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" [ngClass]="(abstractService.isHandset$|async) ? 'full-width' : 'fifty-percent-width'"
                  class="margin-right">
    <mat-label>{{translationService.get(teamVintageTC)}}</mat-label>
    <input [formControl]="teamVintageFormControl" matInput>
  </mat-form-field>

  <mat-form-field [ngClass]="(abstractService.isHandset$|async) ? 'full-width' : 'twenty-percent-width'" appearance="outline"
                  class="margin-right">
    <mat-label>{{translationService.get(dayTC)}}</mat-label>
    <mat-select [formControl]="dayFormControl">
      <mat-option *ngFor="let day of dayValues"
                  [value]="day">
        {{day}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" [ngClass]="(abstractService.isHandset$|async) ? 'full-width' : 'thirty-percent-width'"
                  class="margin-right">
    <mat-label>{{translationService.get(timeTC)}}</mat-label>
    <input [formControl]="timeFormControl" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline" [ngClass]="(abstractService.isHandset$|async) ? 'full-width' : 'fifty-percent-width'">
    <mat-label>{{translationService.get(hallTC)}}</mat-label>
    <mat-select [formControl]="hallFormControl">
      <mat-option *ngFor="let hall of halls"
                  [value]="hall.id">
        {{hall.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="outline" [ngClass]="(abstractService.isHandset$|async) ? 'full-width' : 'fifty-percent-width'"
                  class="margin-right">
    <mat-label>{{translationService.get(trainerNameTC)}}</mat-label>
    <input [formControl]="trainerNameFormControl" matInput>
  </mat-form-field>


  <mat-form-field appearance="outline" [ngClass]="(abstractService.isHandset$|async) ? 'full-width' : 'fifty-percent-width'">
    <mat-label>{{translationService.get(trainerMailTC)}}</mat-label>
    <input [formControl]="trainerMailFormControl" type="email" matInput>
  </mat-form-field>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" [mat-dialog-close]="false">{{translationService.get(backTc)}}</button>
  <button mat-raised-button color="primary"
          [disabled]="teamIdFormControl.hasError('required') ||
                       teamVintageFormControl.hasError('required') ||
                        dayFormControl.hasError('required') ||
                        timeFormControl.hasError('required') ||
                        hallFormControl.hasError('required')"
          (click)="saveTraining()"
  >{{translationService.get(saveTC)}}</button>
</div>

