<button mat-mini-fab class="add-btn"
        [ngClass]="!(isHandset$ | async) ? 'add-btn-web' : 'add-btn-mobile'"
        *ngIf="!matMenu"
        (click)="clickListener.next()"
>
  <mat-icon>add</mat-icon>
</button>

<button mat-mini-fab class="add-btn"
        [matMenuTriggerFor]="matMenu"
        [ngClass]="!(isHandset$ | async) ? 'add-btn-web' : 'add-btn-mobile'"
        *ngIf="matMenu"
        (menuOpened)="menuOpen = true"
        (menuClosed)="menuOpen = false"
>
  <mat-icon>{{moreIcon ? (menuOpen ? 'close' : 'more_horiz') : 'add'}}</mat-icon>
</button>
