<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly flex-start"
>
  <app-content-holder
    fxFlex="0 1 calc(50% - 16px)"
    fxFlex.lt-sm="100%"
    *ngIf="team && team.teamText"
    contentLoaded="true"
    nonStaticContent="true"
    [content]="getContentOfTeam(team)"
    (uploadImgListener)="upload($event)"
    (deleteImgListener)="deleteImage($event)"
    (changeImgOrderListener)="editTeam($event)"
    (changeContentListener)="editTeam($event)"
    [editContent]="editTeamTextActive"
    [editImages]="editTeamImagesActive"
  ></app-content-holder>

  <div
    fxFlex="0 1 calc(50% - 16px)"
    fxFlex.lt-sm="100%"
    class="contact-container"
    [class.content-container]="abstractService.isHandset$|async"
  >
    <app-contact
      [teamId]="team.id">
    </app-contact>
  </div>
</div>


