<h2 class="team-header">{{team.teamAge}} - {{team.teamSeason}}</h2>

<mat-card class="image-edit-container" *ngIf="editTeamsActive">
  <mat-card-content>
    <app-image-upload-manager
      [urls]="team ? team.imgLinks : []"
      (itemDeleteEventListener)="deleteImage($event)"
      (afterItemMovedEventListener)="changedValues = true"
      [uploadProgress]="uploadProgress"
      (uploadEventListener)="upload($event)"
    ></app-image-upload-manager>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="disableEditMode()">{{translationService.get(cancelTC)}}</button>
  </mat-card-actions>
</mat-card>

<div class="slideshow-container"
     *ngIf="!editTeamsActive">
  <slideshow [minHeight]="(isHandset$|async)?'250px' : '400px'"
             [showDots]="true"
             [imageUrls]="team.imgLinks"
             backgroundSize="contain"
             *ngIf="team.imgLinks && team.imgLinks.length>0"
  ></slideshow>
</div>
