.grid-container {
  margin: 16px 16px 56px;
}

.news-container {
  height: 100%;
  overflow-y: scroll;
}

.search-results {
  height: 100%;
  overflow: auto;
}

.dashboard-card {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

.more-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.dashboard-card-content {
  text-align: center;
}

.add-news-btn {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.add-news-btn-web {
  right: 24px;
}

.add-news-btn-mobile {
}

.news-state {
  position: absolute;
  right: 16px;
  bottom: 8px;
}

.card-img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: block;
}

.card-content {
  margin: 8px !important;
}

.card-title {

}

.dashboard-card-content:hover, .card-img:hover, .mat-card-subtitle:hover, .card-title:hover {
  cursor: pointer;
}

.loading-spinner {
  margin: 25% auto;
}

.finished-spinner-container {
  margin: 0 0 32px;
}

.finished-spinner {
  margin: auto;
}

.filter {
  margin: 16px;
}
