<div
  class="news-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <mat-spinner [diameter]="30" *ngIf="news.length==0 && !allNewsLoaded" class="loading-spinner"></mat-spinner>
  <ng-container *ngIf="news.length>0 || allNewsLoaded">
    <div class="grid-container">

      <app-news-card-list
        [user]="user"
        [news]="news"
        (editClickListener)="newsService.openNewsEdit($event.id)"
        (deleteClickListener)="openDeleteNewsDialog($event)"
        (sendClickListener)="openSendCheckNewsDialog($event,true)"
        (checkClickListener)="openSendCheckNewsDialog($event,false)"
        (exportChangeListener)="changeExportNews($event)"
        (openDetailClickListener)="openNewsDetail($event)"
      ></app-news-card-list>
      <div class="finished-spinner-container" *ngIf="!finished">
        <mat-spinner [diameter]="30" class="finished-spinner"></mat-spinner>
      </div>
    </div>

    <app-add-btn [matMenu]="newsTypeMenu" [moreIcon]="true"
                 *ngIf="addNewsAccess|async"></app-add-btn>
    <mat-menu #newsTypeMenu="matMenu">
      <button mat-menu-item *ngIf="(eventAdmin|async) && exportNews.length>0"
              (click)="exportNewsToText()"> {{translationService.get(exportTC)}}</button>
      <button mat-menu-item *ngIf="eventAdmin |async"
              (click)="addNewNews(newsTypeEvent)"> {{translationService.get(newsTypeEventTC)}}</button>
      <button mat-menu-item *ngIf="teamRights|async"
              (click)="addNewNews(newsTypeReport)"> {{translationService.get(newsTypeReportTC)}}</button>
    </mat-menu>


  </ng-container>
</div>
