<mat-spinner [diameter]="30" *ngIf="!newsService.newsLoaded" class="loading-spinner"></mat-spinner>
<ng-container *ngIf="newsService.newsLoaded">
  <div class="grid-container">

    <app-news-filter
      class="filter"
      [placeholder]="translationService.get(filterTC)"
      [possibleValues]="getAllPossibleFilterValues()"
      (onValueChangeListener)="filterNews($event)"
    ></app-news-filter>

    <app-news-card-list
      *ngIf="!filteredNews"
      [news]="newsService.news"
      (editClickListener)="newsService.openNewsEdit($event)"
      (deleteClickListener)="openDeleteNewsDialog($event)"
      (sendClickListener)="openSendNewsDialog($event)"
      (checkClickListener)="openCheckNewsDialog($event)"
      (openNewsClickListener)="newsService.openNewsDetail($event)"
    ></app-news-card-list>

    <app-news-card-list
      *ngIf="filteredNews"
      [news]="filteredNews"
      (editClickListener)="newsService.openNewsEdit($event)"
      (deleteClickListener)="openDeleteNewsDialog($event)"
      (sendClickListener)="openSendNewsDialog($event)"
      (checkClickListener)="openCheckNewsDialog($event)"
      (openNewsClickListener)="newsService.openNewsDetail($event)"
    ></app-news-card-list>
  </div>


  <app-add-btn [matMenu]="newsTypeMenu"></app-add-btn>
  <mat-menu #newsTypeMenu="matMenu">
    <button mat-menu-item
            (click)="newsService.addNewNews(newsTypeReport)"> {{translationService.get(newsTypeReportTC)}}</button>
  </mat-menu>


</ng-container>
