<div class="div-padding">
  <mat-card class="expanded-card">
    <mat-card-header>
      <mat-card-title>
      <span>{{editNewsTC}}
      </span>
      </mat-card-title>
      <button mat-icon-button color="warn" class="cancel-btn" (click)="closeNews()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>

      <div fxLayout="column">

        <div fxLayoutGap="4px">
          <!-- Date - TeamAge -->
          <div [fxFlex]="!(abstractService.isHandset$ | async) ? 20 : 50"
               fxLayoutAlign="center center"
               class="news-date-container"
          >
            <mat-form-field appearance="outline">
              <mat-label>{{newsDateTC}}</mat-label>
              <input matInput
                     [matDatepicker]="picker"
                     [formControl]="date"
                     (change)="onChangeValue()"
                     (dateChange)="onChangeValue()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <ng-container *ngIf="isNewsTypeReport()|| isNewsTypeTeamEvent()">
            <div [fxFlex]="!(abstractService.isHandset$ | async) ? 40 : 50"
                 fxLayoutAlign="center center"
                 class="news-team-age-container"
            >
              <mat-form-field appearance="outline">
                <mat-label>{{newsTeamAgeTC}}</mat-label>
                <input type="text" matInput
                       [matAutocomplete]="autoTeamAge"
                       (change)="onChangeValue()"
                       [formControl]="teamAgeFormControl">
                <mat-autocomplete #autoTeamAge="matAutocomplete">
                  <mat-option *ngFor="let option of filteredTeamAgesOptions | async" [value]="option"
                              (onSelectionChange)="onChangeValue()">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div *ngIf="!(abstractService.isHandset$ | async)" [fxFlex]="40" fxLayoutAlign="center center">
              <mat-form-field appearance="outline">
                <mat-label>{{newsTeamSeasonTC}}</mat-label>
                <mat-select [formControl]="teamSeasonFormControl">
                  <mat-option *ngIf="currentSeason"
                              [value]="seasonService.getSeasonAsString(currentSeason)"
                              (onSelectionChange)="onChangeValue()">
                    {{seasonService.getSeasonAsString(currentSeason)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>

        </div>

        <app-news-edit-admin-date
          *ngIf="(admin$|async) && news"
          [editDate]="getDate(news.date)"
          (changedValueListener)="changeEditDate($event)"
        ></app-news-edit-admin-date>

        <div fxLayoutGap="4px" [fxLayout]="!(abstractService.isHandset$ | async) ? 'row' : 'column'" *ngIf="isNewsTypeReport()">
          <!-- Teams - Score -->

          <div [fxFlex]="!(abstractService.isHandset$ | async) ? 40 : 100">
            <div [fxFlex]="!(abstractService.isHandset$ | async) ? 100 : 70" fxLayoutAlign="center center">
              <mat-form-field appearance="outline">
                <mat-label>{{newsHomeTeam}}</mat-label>
                <input [formControl]="homeTeamFormControl" type="text" matInput
                       (change)="onChangeValue()">
              </mat-form-field>
            </div>

            <div *ngIf="(abstractService.isHandset$ | async)" [fxFlex]="30" fxLayoutAlign="center center">
              <mat-form-field appearance="outline">
                <mat-label>{{newsTeamSeasonTC}}</mat-label>
                <mat-select [formControl]="teamSeasonFormControl">
                  <mat-option *ngIf="currentSeason"
                              [value]="seasonService.getSeasonAsString(currentSeason)"
                              (onSelectionChange)="onChangeValue()">
                    {{seasonService.getSeasonAsString(currentSeason)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div [fxFlex]="!(abstractService.isHandset$ | async) ? 60 : 100" fxLayoutGap="4px">

            <div [fxFlex]="!(abstractService.isHandset$ | async) ? 66 : 70" fxLayoutAlign="center center">
              <mat-form-field appearance="outline">
                <mat-label>{{newsEnemyTeam}}</mat-label>
                <input [formControl]="enemyTeamFormControl" type="text" matInput
                       (change)="onChangeValue()">
              </mat-form-field>
            </div>

            <div [fxFlex]="!(abstractService.isHandset$ | async) ? 34 : 30" fxLayoutAlign="center center" class="news-score-container">
              <mat-form-field appearance="outline">
                <mat-label>{{newsScoreTC}}</mat-label>
                <input matInput [formControl]="scoreFormControl"
                       (input)="onChangeValue()"
                       maxlength="13">
                <mat-hint align="end">{{scoreFormControl.value ? scoreFormControl.value.length : 0}} / 13</mat-hint>
              </mat-form-field>
            </div>

          </div>

        </div>


        <div [fxFlex]="!(abstractService.isHandset$ | async) ? 50 : 100" fxLayoutAlign="center center"
             class="news-title-container">

          <mat-form-field appearance="outline">
            <mat-label>{{newsTitleTC}}</mat-label>
            <input [formControl]="titleFormControl" matInput (input)="onChangeValue()">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>{{newsBodyTC}}</mat-label>
            <textarea [formControl]="bodyFormControl" matInput
                      (change)="onChangeValue()"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="10"
                      cdkAutosizeMaxRows="50"></textarea>
          </mat-form-field>
        </div>

        <div floatLabel="always">
          <mat-form-field appearance="outline">
            <mat-label>{{newsSummaryTC}}</mat-label>
            <textarea [formControl]="summaryFormControl" matInput
                      (change)="onChangeValue()"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="10"></textarea>
          </mat-form-field>
        </div>


        <div floatLabel="always" *ngIf="isNewsTypeReport()">
          <mat-form-field appearance="outline">
            <mat-label>{{newsPlayersTC}}</mat-label>
            <textarea [formControl]="playersFormControl" matInput
                      (change)="onChangeValue()"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="10"></textarea>
          </mat-form-field>
        </div>

        <div>
          <mat-divider></mat-divider>
        </div>

        <app-image-upload-manager
          [urls]="news&&news.imgLinks.length>0 ? news.imgLinks : []"
          (itemDeleteEventListener)="deleteImage($event)"
          (afterItemMovedEventListener)="changedValues = true"
          [uploadProgress]="uploadProgress"
          (uploadEventListener)="upload($event)"
        ></app-image-upload-manager>

      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary"
              [disabled]="!changedValues"
              (click)="saveNews()">{{saveTC}}</button>
    </mat-card-actions>

  </mat-card>
</div>
