<h1 class="headline">{{translationService.get(imprintTC)}}</h1>
<h2 class="headline">{{translationService.get(imprintFindTC)}}<a target="_blank"
                                                href="https://www.sg-hainhausen.de/index.php/verein/impressum">{{translationService.get(hereTC)}}</a>
</h2>
<h2 class="headline">{{translationService.get(dataProtectionFindTC)}}<a target="_blank"
                                                       href="https://www.sg-hainhausen.de/index.php/verein/datenschutzerklaerung">{{translationService.get(hereTC)}}</a>
</h2>
