
.archive-container {
  overflow: auto;
  height: 100%;
  width: 100%;

  .no-archive-text{
    text-align: center;
  }

  .season-card {
    margin: 16px;
  }

  .team-button {
    margin: 8px;
  }

}
