table {
  width: 100%;
}

.mat-cell {
  border-right: 1px solid #e0e0e0;
  padding: 2px;
}
th, td {
  white-space: nowrap;
  text-align: center !important;
}

.mat-form-field {
  font-size: 14px;
}

.filter {
  padding: 16px;
}


span{
  padding: 4px;
}
