<div class="div-padding">
  <mat-card class="expanded-card">
    <mat-card-header>
      <mat-card-title>
      <span>{{editNewsTC}}
      </span>
      </mat-card-title>
      <button mat-icon-button color="warn" class="cancel-btn" (click)="closeNews()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>

      <div fxLayout="column">

        <app-news-edit-type-season
          *ngIf="news"
        [news]="news"
          (changedValueListener)="onChangeValue()"
        ></app-news-edit-type-season>

        <div fxLayoutGap="4px">
          <!-- Date - TeamAge -->
          <div fxFlex="50"
               fxLayoutAlign="center center"
               class="news-date-container"
          >
            <mat-form-field appearance="outline">
              <mat-label>{{newsDateTC}}</mat-label>
              <input matInput
                     [matDatepicker]="picker"
                     [formControl]="date"
                     (change)="onChangeValue()"
                     (dateChange)="onChangeValue()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <ng-container *ngIf="isNewsTypeReport()|| isNewsTypeTeamEvent()">
            <div fxFlex="50"
                 fxLayoutAlign="center center"
                 class="news-team-age-container"
            >
              <mat-form-field appearance="outline">
                <mat-label>{{newsTeamAgeTC}}</mat-label>
                <input type="text" matInput
                       [matAutocomplete]="autoTeamAge"
                       (change)="onChangeValue()"
                       [formControl]="teamAgeFormControl">
                <mat-autocomplete #autoTeamAge="matAutocomplete">
                  <mat-option *ngFor="let option of filteredTeamAgesOptions | async" [value]="option"
                              (onSelectionChange)="onChangeValue()">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </ng-container>

        </div>

        <app-news-edit-admin-date
          *ngIf="(admin$|async) && news"
          [editDate]="getDate(news.date)"
          (changedValueListener)="changeEditDate($event)"
        ></app-news-edit-admin-date>

<!--        <app-news-edit-report-part
          *ngIf="isNewsTypeReport()"
          [news]="news"
          (changedValueListener)="onChangeValue()"
        ></app-news-edit-report-part>-->


        <div [fxFlex]="!(abstractService.isHandset$ | async) ? 50 : 100" fxLayoutAlign="center center"
             class="news-title-container">

          <mat-form-field appearance="outline">
            <mat-label>{{newsTitleTC}}</mat-label>
            <input [formControl]="titleFormControl" matInput (input)="onChangeValue()">
          </mat-form-field>
        </div>

        <div *ngIf="news">
          <jodit-editor #editor
                        [config]="config"
                        [defaultValue]="news.body"
            >

          </jodit-editor>
        </div>

        <div>
          <mat-divider></mat-divider>
        </div>

        <app-image-upload-manager
          [urls]="news&&news.imgLinks.length>0 ? news.imgLinks : []"
          (itemDeleteEventListener)="deleteImage($event)"
          (afterItemMovedEventListener)="changedValues = true"
          [uploadProgress]="uploadProgress"
          (uploadEventListener)="upload($event)"
        ></app-image-upload-manager>

      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary"
              [disabled]="!changedValues"
              (click)="saveNews()">{{saveTC}}</button>
    </mat-card-actions>

  </mat-card>
</div>
