<mat-card class="content" [class.web-content]="!(abstractService.isHandset$|async)">
  <div fxLayout="column">

    <div class="spinner-container">
      <mat-spinner *ngIf="!news && !contentLoaded" [diameter]="30" class="loading-spinner"></mat-spinner>
      <app-slider
        class="slideshow"
        *ngIf="news && news.length>0"
        [sliderArray]="images.length>0 ? images : []"
        [height]="(abstractService.isHandset$|async)?'250px':'500px'"
        [objectFit]="'cover'"
        [imageBorderRadius]="'4px 4px 0 0'"
        (onSlideClickListener)="gotoDetailNews($event)"
      >
      </app-slider>
    </div>


    <div class="static-content">
      <div
        *ngIf="contentLoaded"
        [innerHTML]="homeContent?.contentText"
      >
      </div>
    </div>
  </div>

  <mat-card-actions
    align="end"
    class="fb-icon-container"
    *ngIf="contentLoaded"
  >
    <app-fb-icon
      iconPath="assets/img/F_icon.svg"
      link="https://de-de.facebook.com/pages/category/Sports-Club/SG-Hainhausen-Handball-832106663555487/"
    ></app-fb-icon>
    <app-fb-icon
      iconPath="assets/img/I_icon.svg"
      link="https://www.instagram.com/sghainhausen_handball/"
    ></app-fb-icon>
  </mat-card-actions>
</mat-card>

<app-add-btn [matMenu]="newsTypeMenu" [moreIcon]="true"
             *ngIf="adminRight$|async"></app-add-btn>
<mat-menu #newsTypeMenu="matMenu">
  <button mat-menu-item
          (click)="openEdit()">
    Seite Bearbeiten
  </button>
</mat-menu>




